.item{
  display: flex;
  flex-direction: row;
  width: 450px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid gray;
  border-radius: 25px;
  margin-bottom: 10px;
  padding: 10px;
}
 .name{
  margin-left: 50px;
}

.online{
  background-color: green; 
  width: 10px;
  height: 10px;
  border-radius: 50%;
} 
.offline{
  background-color:red;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.avatar{
  display: block;
}
