.item{
  display: flex;
  width: 450px;
  align-items: center;
  border: 1px solid gray;
  border-radius: 25px;
  margin-bottom: 10px;
  padding: 10px;
}
 .name{
  margin-left: 50px;
}
.status{
   margin-right: 30px;
}
.online{
  color: green
} 
.offline{
  color:red
}
.status {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
  
